html {
    font-family: 'Mulish', sans-serif;
}

img {
    border-radius: 20px
}

nav {
    border-bottom: 1px black;
    padding: 16px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

h1 {
    color: #373F51;
}

h2 {
    color: #373F51;
}

h4 {
    color: #373F51;
}

main {
    padding: 16px;
    padding-bottom: 100px;

}

header {
    color: white;
    background-color: #58A4B0;
}

footer {
    margin-top: auto;
    background-color: #58A4B0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 0px;
    color: #F4F9FF;
}

img {
    height: 200px;
}

body {
    background-color: #D8DBE2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

#header-link {
    color: white;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #373F51;
}


#ingredients td,
#ingredients th {
    border: 1px solid white;
    padding: 4px;
    text-align: center;
}

#ingredients tr:nth-child(odd) {
    background-color: white;
}

#ingredients tr:hover {
    background-color: #373F51;
    color: white;
}

#ingredients th {
    padding-top: 12px;
    padding-bottom: 0px;
    text-align: left;
    background-color: #373F51;
    color: white;
    text-align: center;
}


.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container {
    position: relative;
    width: 50%;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    text-align: center;
    background-color: #A9BCD0;
    color: #1B1B1E;
    font-size: 16px;
    padding: 16px 32px;
}
